footer {
    padding: 70px 0 0 0;
}
.footer__link-title{
    color: #fff;
}

li.link__item.list-group-item{
    padding-left: 0;
    color: #c4c4c4;
    background-color: transparent;
}
li.link__item.list-group-item a{
    text-decoration: none;
}

.link__item a{
    color: #c4c4c4;
}

.footer__bottom{
    background: #141124;
    padding: 30px 0;
    text-align: center;
    margin-top: 50px;
}

.footer__bottom p{
    font-size: 0.9rem;
}